@charset "UTF-8";

@media (max-width: 768px) {

    /* Menu */
    nav {
        position: absolute;
        top: 50px;
        right: 0;
        background: white;
        width: 100%;
        flex-direction: column;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: 0.4s ease;
    }

    nav a {
        display: block;
        padding: 15px;
        margin: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.801);
    }

    nav.active {
        max-height: 500px;
    }

    
    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        
    }
    
    .menu-toggle span {
        height: 2px;
        width: 22px;
       background: black;
        margin: 4px 0;
        transition: 0.4s;
    }
    

    /* Hero */
    .hero {
        padding: 80px 0;
        text-align: center;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    /* Sobre */
    .sobre {
        flex-direction: column;
        text-align: center;
    }

    .sobre img {
        width: 220px;
    }

    .sobre-texto {
        text-align: center;
        font-weight: 600;
    }
    

    /* Cards */
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .sobre-moderno {
        flex-direction: column;
    }

    .carrossel {
        width: 90%;
        border-radius: 20px;
    }
    
    .carrossel-track {
        display: flex;
        width: 400%; /* 4 imagens */
        animation: slideMobile 260s linear infinite;
    }
    
    .carrossel-track img {
        width: 100%;
        height: 320px; /* você pode ajustar */
        object-fit: cover;
        object-position: center;
        
    }
    
    /* Animação adaptada para mobile */
    @keyframes slideMobile {
        0%   { transform: translateX(0%); }
        25%  { transform: translateX(-100%); }
        50%  { transform: translateX(-200%); }
        75%  { transform: translateX(-300%); }
        100% { transform: translateX(0%); }
    }

    
    /* Vídeo */
    .video iframe {
        height: 220px;
    }

    /* Redes */
    .redes a {
        width: 55px;
        height: 55px;
        font-size: 22px;
    }

    .whatsapp-float {
        width: 55px;
        height: 55px;
        font-size: 24px;
        bottom: 20px;
        right: 20px;
    }

    .curso-capa img {
        width: 100%;
        max-width: 900px;
        height: 350px;
        object-fit: cover;
    
        border-radius: 40px;
        box-shadow: 0 25px 60px rgba(0,0,0,0.15);
        transition: 0.5s ease;
    }
}


